@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* root */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

a {
  color: var(--color-06);
}

/* a:hover {
  color: var(--color-05);
} */

/* Color */
:root {
  --color-01: rgb(148, 81, 52);
  --color-02: rgb(168, 136, 77);
  --color-03: rgb(199, 118, 29);
  --color-04: rgb(154, 161, 171);
  --color-05: rgb(97, 80, 28);
  --color-06: rgb(255, 251, 202);
  --color-07: rgb(154, 161, 171, 0.5);
}

/* Menu */
.menu {
  background-color: var(--color-02);
  padding: 15px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline;
  padding: 20px 20px;
}

.menu li:hover {
  background-color: var(--color-03);
}

/* Drop Down */

.dropdown_menu {
}

.dropdown_content {
  display: none;
  position: absolute;
  top: 48px;
  left: 102px;
  background-color: var(--color-02);
}

.dropdown_menu:hover .dropdown_content {
  display: block;
}

.dropdown_content ul li {
  display: block;
}
.dropdown_content ul li a {
  padding: 20px;
}

/* Search Section */

.main {
  height: auto;
  width: 80%px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-07);
  opacity: 0;
  text-align: center;
  padding: 10px;
  color: white;
}

.main2 {
  min-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: burlywood;
  opacity: 0;
  margin-top: 28px;
}

.main2 .image {
  padding: 0px;
  margin: 0px;
}

.main2 .information {
  padding: 18px;
}

.main2 .information p {
  margin-bottom: 16px;
}

.image img {
  width: 100%;
  height: 225px;
}

.container01 {
  width: 100%;
  background-image: url("static/img/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container02 {
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container03 {
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  background-color: var(--color-05);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.serch_box {
  padding: 20px;
  margin: 0 auto;
  border: 1px solid white;
  width: 50%;
}

.serch_box form input[type="submit"],
.serch_box form input[type="text"],
select {
  height: 38px;
}

.serch_box form input[type="text"] {
  padding: 0;
  border: 0;
}

/* Table container 03 */

.my-info-list {
  background-color: #fff;
  margin: 48px auto 0 auto;
  padding: 24px;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #aaa;
}

/* image section */

.property_image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 48px;
}

.property_image div {
  padding: 24px;
  margin-top: 36px;
  width: 33%;
  text-align: center;
}

.property_image img {
  width: 100%;
}

/* Google map */
#map {
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: var(--color-06);
}
